.page
  %section#content
    %h2 
      О сайте
    %p
      Сайт skleh - это курсовая работа двух студентов МОиАИС Тюменского Государственного Университета. 
      Он призван облегчить проведение тренировок и проверочных работ для учеников и студентов по языку SQL. 
      Его главные преимущества перед аналогичными сайтами заключаются в 
      возможности легко развернуть это веб-приложение на собственном компьютере или ноутбуке 
      и в возможности тонкой настройки того как будут проходить соревнования.

    %h2
      Об авторах
    %p
      Андрей Алексеенко - студент МОиАИС группы 184-2. Веб-разработчик на Ruby. 
      Ответственен за каркас сайта.
    %p
      Минлибаев Владислав - студент МОиАИС группы 184-2. Веб-разработчик на Python. 
      Ответственен за UI/UX.
