$('#query-result').html(
  "<% if @query_result.present? && @query_result != nil %>" + 
    "<span>Результат запроса</span>" + 
  "<% else %>" + 
  "<% end %>" + 
  "<% if @query_result.present? && @query_result != nil %>" + 
    "<%= table_for_query_rows(@query_result) %>" + 
  "<% else %> Запрос содержал синтаксическую ошибку <% end %>"
)
$('#correct-result').html(
  "<% if @query_result.present? && @query_result != nil %>" + 
    "<span>Правильный результат</span>" + 
    "<% else %> <% end %>" + 
  "<% if @query_result.present? && @query_result != nil %>" + 
    "<%= table_for_query_rows(@correct_result) %>" + 
  "<% end %>"
)
$('.task-page > h2').toggleClass('task-completed', true)