$('#query-result').html(
  "<% if @query_result.present? && @query_result != nil %>" +
    "<span>Результат запроса</span>" +
    "<%= table_for_query_rows(@query_result) %>" +
  "<% else %> <%= @error_msg %> <% end %>"
)
$('#correct-result').html(
  "<% if @correct_result.present? && @correct_result != nil %>" +
    "<span>Правильный результат</span>" +
    "<%= table_for_query_rows(@correct_result) %>" +
  "<% end %>"
)
<% if @is_solution_correct %>
  $('h2.task-name').toggleClass('task-completed', true)
<% end %>