.page
  %section#content
    %h2 
      Приветствуем на skleh
    Тут вы можете:
    %ul
      %li
        выполнять упражнения разного уровня сложности
      %li
        участвовать в соревнованиях 
      %li
        создать свое собственное соревнование
      %li
        набирать рейтинг и соревноваться с другими 
        пользователями за место в 
        = link_to "таблице лидеров", "#{root_url}leaderboard"
    
  %section#news
    %h2
      Новости
    .news_item_1
      %h3.news-header
        %a{href: "#"}
          Начался UTMN-CUP!
      %p.news-content
        Соревнование, в котором можно побороться 
        за звание университетского эксперта по SQL.
    .news_item_2
      %h3.news-header
        %a{href: "#"}
          Начался MOIAIS-Final!
      %p.news-content
        Контрольная работа для студентов 3 курса МОиАИС.