.page
  %section#content
    %h2 
      Приветствуем на skleh.ru
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Eum, iste eveniet. Aut atque iste consequatur nulla quasi? 
    Nam deserunt placeat quod! 
    Commodi alias dolor explicabo voluptatem facilis iure reprehenderit quisquam.
  %section#news
    %h2
      Новости
    .news_item_1
      %h3.news-header
        %a{href: "#"}
          Header 1
      %p.news-content
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    .news_item_2
      %h3.news-header
        %a{href: "#"}
          Header 2
      %p.news-content
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 