.menu
  display: flex
  flex-direction: row
  justify-content: center
  .menu-item
    display: inline-block
  .username
    border: 1px solid black
.contests-page
  text-align: center
  .contests
    text-align: left
.page
  display: flex
  justify-content: space-between
#content, #news
  display: inline-block
  margin: auto
.field
  margin-bottom: 10px
.sql
  #query-result, #right-result
    display: inline-block
  #right-result
    margin-left: 5px