%head
  = stylesheet_link_tag 'application'
%body
  .menu
    .row
      #contests.menu-item.col-4
        Соревнования
        -#%a= link_to
      #about.menu-item.col-4
        О Нас
        -#%a= link_to
      #profile.menu-item.col-4
        Профиль
        -#%a= link_to
  .page
    .row
      #content
        .col-6
          Контент тут будет лорем ипсум долор амет
      #news
        .col-6
          .news_item_1
            Контент новость 1
          .news_item_2
            Контент новость 2